.body {
  display: flex;
  justify-content: center;
  font-size: 16px;
}

.site {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100rem;
}

/* HEADER */
header {
  height: 4rem;
  width: 100%;
  background-color: white;
  position: fixed;
  top: 0rem;
  left: 0rem;
}

/* DESKTOP HEADER */
@media only screen and (min-width: 481px) {
  .mobile {
    display: none;
  }
}

header.desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  }

.logo {
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
}

.colmar {
  color: black;
  font-weight: bold;
}

.academy {
  color: gray;
}

nav {
  display: flex;
  align-items: center;
  padding-right: 1.5rem;
}

nav a {
  padding-left: 1rem;
}

/* MOBILE HEADER */

@media only screen and (max-width: 480px) {
  .desktop {
    display: none;
  }
}

header.mobile {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 4rem;
}

/* BANNER */
.banner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 4rem;
  width: 100%;
  background-color: lightgray;
}

.banner-img {

}

.banner-img img{
  width: 60%;
  padding: 2rem 1.5rem;
}

.slogan {
  display: inline-flex;
  flex-direction: column;
  width: 40%;
}

.slogan h1 {
  color: gray;
}

.slogan h3 {
  color: gray;
}

.slogan a {
  width: 100%;
  padding: 0.5rem 0rem;
  background-color: gray;
}


/* INFO */
.info {
  max-width: 100%;
  padding: 2rem 0rem;
}

.featured {
  display: inline-flex;
  flex-direction: column;
  width: 60%;
  padding: 0rem 1.5rem;
}

.featured h2 {

}

.featured p {
  padding: 1.5rem 0rem;
}

.featured h6 {

}

.sidebar {
  display: inline-flex;
  flex-direction: column;
}

.sidebar-container {
  display: flex;
  justify-content: flex-start;
  height: auto;
  max-width: 100%;
  padding: 1rem;
}

.sidebar-thumb {
  display: inline-flex;
}

.sidebar-text {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar-text h3{

}

.sidebar-text p{
  padding: 0.5rem;
}

.sidebar-text a{

}

/* COURSES */

.courses-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.courses-main h2 {
  margin: 2rem;
}

.course-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0rem 4.5rem 2rem 4.5rem;
}

.course-container {
  display: inline-flex;
  flex-direction: column;
  margin: 2rem;
}

.course-container img {
  height: auto;
  max-width: 100%;
}

.course-info {
  padding: 1rem;
}

.courses-link {
  padding: 0.5rem 0rem;
}
