<<<<<<< HEAD
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEADER */
header.desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 64px;
  width: 100;
  }

.logo {
  display: flex;
  align-items: center;
  padding-left: 24px;
}

.colmar {
  color: black;
}

.academy {
  color: gray;
}

nav {
  display: flex;
  align-items: center;
  padding-right: 24px;
}

nav a {
  padding-left: 16px;
}

header.mobile {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 64px;
}

/* BANNER */
.banner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 65px;
  max-width: 100%;
  background-color: lightgray;
}

.banner-img img{
  width: 60%;
  padding: 32px 24px;
}

.slogan {
  display: inline-flex;
  flex-direction: column;
  width: 40%;
}

.slogan h1 {
  color: gray;
}

.slogan h3 {
  color: gray;
}

.slogan a {
  width: 100%;
  padding: 8px 0px 8px 0px;
  background-color: gray;
}


/* INFO */
.info {
  max-width: 100%;
  padding: 32px 0px;
}

.featured {
  display: inline-flex;
  flex-direction: column;
  width: 60%;
  padding: 0px 24px;
}

.featured h2 {
  
}

.featured p {
  padding: 24px 0px;
}

.featured h6 {
  
}

.sidebar {
  display: inline-flex;
  flex-direction: column;
}

.sidebar-container {
  display: flex;
  justify-content: flex-start;
  height: auto;
  max-width: 100%;
  padding: 16px;
}

.sidebar-thumb {
  display: inline-flex;
}

.sidebar-text {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar-text h3{
  
}

.sidebar-text p{
  padding: 8px;
}

.sidebar-text a{
  
}

/* COURSES */

.courses-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.courses-main h2 {
  margin: 32px;
}

.course-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px 72px 32px 72px;
}

.course-container {
  display: inline-flex;
  flex-direction: column;
  margin: 32px;
}

.course-container img {
  height: auto;
  max-width: 100%;
}

.course-info {
  padding: 16px;
}

.courses-link {
  padding: 8px 0px;
}

@media only screen and (min-width: 481px) {
  .mobile {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .desktop {
    display: none;
  }
}
=======
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* HEADER */
header.desktop {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0px;
  left: 0px;
  height: 64px;
  width: 100;
  }

.logo {
  display: flex;
  align-items: center;
  padding-left: 24px;
}

.colmar {
  color: black;
}

.academy {
  color: gray;
}

nav {
  display: flex;
  align-items: center;
  padding-right: 24px;
}

nav a {
  padding-left: 16px;
}

header.mobile {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 64px;
}

/* BANNER */
.banner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  top: 65px;
  max-width: 100%;
  background-color: lightgray;
}

.banner-img img{
  width: 60%;
  padding: 32px 24px;
}

.slogan {
  display: inline-flex;
  flex-direction: column;
  width: 40%;
}

.slogan h1 {
  color: gray;
}

.slogan h3 {
  color: gray;
}

.slogan a {
  width: 100%;
  padding: 8px 0px 8px 0px;
  background-color: gray;
}


/* INFO */
.info {
  max-width: 100%;
  padding: 32px 0px;
}

.featured {
  display: inline-flex;
  flex-direction: column;
  width: 60%;
  padding: 0px 24px;
}

.featured h2 {
  
}

.featured p {
  padding: 24px 0px;
}

.featured h6 {
  
}

.sidebar {
  display: inline-flex;
  flex-direction: column;
}

.sidebar-container {
  display: flex;
  justify-content: flex-start;
  height: auto;
  max-width: 100%;
  padding: 16px;
}

.sidebar-thumb {
  display: inline-flex;
}

.sidebar-text {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
}

.sidebar-text h3{
  
}

.sidebar-text p{
  padding: 8px;
}

.sidebar-text a{
  
}

/* COURSES */

.courses-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.courses-main h2 {
  margin: 32px;
}

.course-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px 72px 32px 72px;
}

.course-container {
  display: inline-flex;
  flex-direction: column;
  margin: 32px;
}

.course-container img {
  height: auto;
  max-width: 100%;
}

.course-info {
  padding: 16px;
}

.courses-link {
  padding: 8px 0px;
}

@media only screen and (min-width: 481px) {
  .mobile {
    display: none;
  }
}

@media only screen and (max-width: 480px) {
  .desktop {
    display: none;
  }
}
>>>>>>> 26a18a0f6b9120630afbee2007d4bfee2a77814b
